.primary-heading {
font-size: clamp(2rem, 5vw, 4rem);
color: white;
max-width: 600px;
font-weight: bold;
}

.primary-text {
font-size: clamp(1rem, 3vw, 1.5rem);
max-width: 500px;
color: whitesmoke;
margin: 1.5rem 0rem;
}

.primary-subheading {
font-weight: 700;
color: #fe9e0d;
font-size: 1.15rem;
}

.work-section-wrapper {
margin-top: 15rem;
}

.work-section-top p {
text-align: center;
max-width: 850px !important;
}

.work-section-top h1 {
max-width: 700px !important;
}

.work-section-top {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.work-section-info {
width: 290px;
min-height: 350px;
background-color: rgb(44, 42, 42);
padding: 1rem 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 1rem;
color: #f1e3e3;
margin: 1rem 2rem;
}

.work-section-info h2 {
margin: 1rem 0rem;
}

.work-section-bottom {
margin-top: 5rem;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.work-section-info p {
flex: 1;
display: flex;
align-items: center;
font-weight: 600;
}

@media (max-width: 800px) {
.primary-heading {
    text-align: center;
    max-width: 90%;
}
.primary-text {
    text-align: center;
    max-width: 80%;
}
.secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
}
.primary-subheading {
    text-align: center;
}
}
