.container {
  display: grid;
  grid-template-columns: 55% 30% 5% 10%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 180, 3, 0.1);
}

.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px green solid; */
}

.notificationicon{
  width: 24px;
  height: 24px;
}

.user {
  display: grid;
  grid-template-columns: 40% 60%;
  /* border: 2px green solid; */
  justify-items: start;
  align-items: center;
}

.userimage {
  border-radius: 50%;
  object-fit: cover;
  float: right;
}

.imagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px green solid; */
}

.username {
  padding-left: 10px;
  font-size: small;
}

.searchcontainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.searchcontainer input[type="text"] {
  width: 100%;
  padding: 7px 15px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 25px;
  outline: none;
  transition: border 0.3s ease;
}

.searchicon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  color: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
