.container {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100vh;
  background: linear-gradient(to bottom, #FFD981, #D1D2D5);
}

.content {
  display: grid;
  grid-template-columns: 30% 70%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: start;
}

.right {
  display: flex;
}
