.container {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100vh;
  background: linear-gradient(to bottom, #FFD981, #a8a8aa);
}

.content {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 50px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: start;
}

.right {
  display: flex;
}
