/* Sidebar link styling */
.link {
  display: block;
  padding: 0.6rem;
  border-radius: 0.5rem;
  text-align: justify;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  position: relative; 
}

/* Hover and active styles for links without sublinks */
.link.noSubLinks:hover,
.link.noSubLinks.active {
  background-color: #000000;
  color: #ffffff;
}

/* Active state for links */
.active {
  background-color: rgba(255, 180, 3, 1) !important; 
  color: #000000 !important;
}

/* Styling for link icons */
.icon {
  margin-right: 10px;
}

/* Styling for sub-links container */
.subLinks {
  margin-left: 5px;
  padding-left: 10px; /* Adjust padding if needed */
  border-left: 3px solid rgba(255, 180, 3, 1); /* Optional: visual separator */
  margin-top: calc(0.4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.4rem * var(--tw-space-y-reverse));
}

/* Styling for each sub-link */
.subLinks a {
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color: #000000;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

/* Hover effect for sub-links */
.subLinks a:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Active state for sub-links */
.subLinkActive {
  background-color: rgba(255, 180, 3, 1);
  color: #000000;
}
