

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #ece9e6, #ffffff);
 
}

.maincont {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 10px;
  
}

.vehicleInfo{
    
    width: 100%;
    display: flex;
    width: 100%;
}

.vehicleBasicInfo{
   
    flex: 1;
}

.vehicleDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  
}

.qr{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qrpara{
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}



.rightSection {
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.parkingLotDetails, .wardenDetails {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  
}


.heading {
  font-size: 32px;
  font-weight: 800;
  color: #2c3e50;
  
  
}

.subHeading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #34495e;
  font-weight: 700;
  
  
}

.wardenDetails{

    display: flex;
    justify-content: space-between;
}

.parkingLotDetails{

    display: flex;
    justify-content: space-between;
}



.LotImage{
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoBlock {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  padding: 2px;

}

.infoBlock h3 {
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 5px;
}

.infoBlock p {
  font-size: 18px;
  color: #2c3e50;
}

.profilePic {
  margin-top: 0px;
 
}

.button {
   
    display: inline-block;
    margin-top: 5px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(135deg, #FFB403, #FFB403);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .reviewForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  
  .starRating {
    display: flex;
    justify-content: center;
    
  }
  
  .starRating .on {
    color: gold;
  }
  
  .starRating .off {
    color: #ccc;
  }
  
  .starRating button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px; /* Increased from 24px */
    margin: 0 2px;
  }
  
  .reviewInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #FFB403;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }




