.container {
  display: grid;
  grid-template-rows: 6% 94%;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.formcontent {
  width: 100%;
  background: rgba(255, 180, 3, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  width: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.formGroupi {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formGroupii {
  display: grid;
  grid-template-rows: 94% 6%;
}

.formGrouppic {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input,
.fileInput {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.input:focus,
.fileInput:focus {
  border-color: #ffb403;
  outline: none;
}
