/* Updated CSS for modern look */

.container {
  display: grid;
  grid-template-rows: 5% 12% 5% 78%;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.tablecontent {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background: #000000;
  color: white;
  z-index: 1;
}

.table thead th {
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background 0.3s;
}

.table tbody tr:nth-child(even) {
  background: #ffffff;
}

.table tbody tr:hover {
  background: rgba(255, 180, 3, 0.1);
}

.table td {
  padding: 12px;
  text-align: center;
  color: #000000;
}

.empidhead,
.empnamehead,
.empgenderhead,
.empagehead {
  width: 25%;
}

.empiddata,
.empnamedata,
.empgenderdata,
.empagedata {
  font-size: 1rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 0.5rem; /* Adjust the spacing as needed */
}

.link {
  text-decoration: none;
  color: #333;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.statusActive {
  color: rgb(13, 194, 13) !important;
  font-weight: 500;
}

.statusInactive {
  color: rgb(236, 38, 38) !important;
  font-weight: 500;
}

.notAssigned {
  color: rgb(236, 38, 38) !important;
  font-weight: 500;
}

.assigned {
  color: #000000; 
}

/* Cards */

.cardcontainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.noData {
  text-align: center;
  color: #999; /* Or any color you prefer for the no-data message */
  font-style: italic;
}
