@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --bg: white
  --text: black 
}

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body{
  background-color: white;
}

a{
  color: inherit;
  text-decoration: none;
}




