.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0 0px;
    background-color: #0d0d0d;
}

.App {
min-height: 100vh;
width: 85vw;
max-width: 1900px;
margin: 0rem auto;
}
@media (max-width: 800px) {
.App {
    max-width: 95vw;
}
}
