

.login_container{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #FFB403;
}

.left{
    flex: 3;
     
     
}

.right{
    flex: 5;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid red;
    padding: 2rem;
}







