.container {
  display: grid;
  grid-template-rows: 25% 50%;
  height: 100vh;
}

.imagecontainer {
  place-self: center;
}

.userimage {
  border-radius: 50%;
  object-fit: cover;
}

.imgcnt {
  display: flex;
  justify-content: center;
}

.profiledetail {
  grid-template-columns: 50% 50%;
}
