.container {
  display: grid;
  grid-template-rows: 25% 15% 60%;
}

.imagecontainer {
  place-self: center;
}

.userimage {
  border-radius: 50%;
  object-fit: cover;
  
}

.imgcnt{
  display: flex;
  justify-content: center;
}


