.container {
  display: grid;
  grid-template-rows: 5% 5% 90%;
  height: 100vh;
  padding: 20px;
  gap: 10px;
}

.heading {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dropdown {
  place-self: end;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
  /* border: 2px solid black; */
}

.tablecontent {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background: #000000;
  color: white;
  z-index: 1;
}

.table thead th {
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background: #ffffff;
}

.table tbody tr:hover {
  background: rgba(255, 180, 3, 0.1);
}

.table td {
  padding: 12px;
  text-align: center;
  color: #000000;
}

.empnamehead,
.empgenderhead,
.empagehead,
.empcontacthead,
.empslothead {
  width: 10%;
}

.empnamedata,
.empgenderdata,
.empagedata,
.empcontactdata,
.empslotdata {
  font-size: 1rem;
}

.statusActive {
  color: rgb(13, 194, 13) !important;
}

.statusInactive {
  color: rgb(236, 38, 38) !important;
  font-weight: 500;
}

.noData {
  text-align: center;
  color: #999; /* Or any color you prefer for the no-data message */
  font-style: italic;
}
