.container {
  padding: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
  align-items: center;
}

.heading {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.profile {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}

.profiledetail{
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.headerText {
  flex: 1;
}

.header h2 {
  font-size: 1.25rem;
  color: #000000;
  margin-bottom: 10px;
}

.headerText p {
  font-weight: bold;
}

.statusActive {
  color: white;
  background-color: green;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 0.75rem;
}

.statusInactive {
  color: white;
  background-color: red;
  border-radius: 16px;
  font-size: 0.75rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.headerDescription {
  padding-top: 20px;
  color: rgba(0,0,0,0.65);
}

.details {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.detailColumns {
  display: flex;
  justify-content: space-between;
}

.detailColumn {
  flex: 1;
}

.detail {
  margin-bottom: 15px;
}

.detail label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.detail p {
  color: rgba(0,0,0,0.65);
}

.tw{
  display: flex;
  align-items: center;
}
