.container {
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  height: auto;
}

.heading {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.profile {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}


.profiledetail {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* .headerImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
} */

.initials {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb403;
  color: black;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  letter-spacing: 2px;
}


.headerText {
  flex: 1;
}

.header h2 {
  font-size: 1.25rem;
  color: #000000;
  margin-bottom: 10px;
}

.headerText p {
  font-weight: bold;
}

.statusActive {
  color: white;
  background-color: green;
  border-radius: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 0.75rem;
}

.statusInactive {
  color: white;
  background-color: red;
  border-radius: 16px;
  font-size: 0.75rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.headerDescription {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.details {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.detailColumns {
  display: flex;
  justify-content: space-between;
}

.detailColumn {
  flex: 1;
}

.detail {
  margin-bottom: 15px;
}

.detail label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.detail p {
  color: rgba(0, 0, 0, 0.65);
}

.tw {
  display: flex;
  align-items: center;
}

.lotpics {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.picscard {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.picscard p {
  font-weight: bold;
  margin-bottom: 10px;
}

.galleryContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.galleryItem{
  margin-right: 16px;
  flex-shrink: 0;
  width: 6rem;
  height: 6rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallerysquare {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 4px;
  width: 5rem;
  border: dashed 2px rgba(0, 0, 0, 0.35);
}

.gallerysquare:hover {
  border: dashed 2px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.25);
}

.slotcardcontainer p {
  font-weight: bold;
  margin-bottom: 10px;
}

.slotcardcontainer {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: auto;
}

.slotcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card{
  padding: 15px;
  width: 33%;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  /* color: #ffb403; */
  width: 24px;
  height: 24px;
  opacity: 60%;
}

.card strong {
  font-weight: bold;
}

.totalSlots {
  opacity: 0.5; 
}

.reviewsContainer {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewCard {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.reviewRating {
  margin: 0;
  font-weight: bold;
}

.reviewText {
  margin: 5px 0;
}

.reviewDate {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.starOn {
  color: gold;
  font-size: 26px;
}

.starOff {
  color: lightgray;
  font-size: 26px;
}

.reviewsOuterCont{
  
  border-radius: 10px;
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttonDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.buttonDisabled:hover {
  background-color: #ccc;
}

.revenue-section {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleh2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.revenue-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  
}

.button {
  background-color: #FFEB3B; /* Yellow color */
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: uppercase;
  width: 140px;
}

.button:disabled {
  background-color: #E0E0E0; /* Light gray for disabled */
  cursor: not-allowed;
}

.button:hover {
  background-color: #FBC02D; /* Slightly darker yellow for hover */
  transform: translateY(-2px);
}

.revenue-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #333;
}

.revenue-value {
  font-size: 36px;
  font-weight: bold;
  color: #4CAF50; /* Green color for revenue value */
}

.error-message {
  color: red;
  font-size: 16px;
  text-align: center;
}

.custom-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Small box shadow */
  border-radius: 8px; /* Optional, for rounded corners */
}


