.paymentform {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    /* border: 3px solid; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 50px;
    
}

.paymentform h2 {
    text-align: center;
    margin-bottom: 20px;
    color:#ffb403;
    font-weight: bold;
}

.formgroup {
    margin-bottom: 15px;
}

.formgroup label {
    display: block;
    margin-bottom: 5px;
}

.formgroup input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    background-color: #ffb403;
}