.sidebarcontainer {
  position: fixed;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-right-width: 1px;
  height: 100%;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  z-index: 50;
  width: 18%;
}

.links {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.logo{
place-self: center;
}

/* .userimage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.userTitle {
  text-align: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
