.dropdown {
    width: 25%; 
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-bottom: 16px;
    appearance: none; /* Removes default arrow */
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
  }

  .dropdownoption {
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #000000;
  }