/* General Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(to bottom, #FFD981, #D1D2D5);
    min-height: 100vh;
  }
  
  .title {
    margin-top: 10px;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  /* Profile Section */
  .profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  /* Profile Card */
  .profileCard {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 700px;
  }

  
  .profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    border: 5px solid #FFB403;
  }
  
  .profileInfo {
    text-align: left;
  }
  
  .profileInfo h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
  }
  
  .profileInfo p {
    font-size: 1.1rem;
    color: #666;
    margin: 5px 0;
    line-height: 1.5;
  }
  
  /* Vehicle Section */
  .vehicleSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vehicleCard {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  
  }
  

  .cardTitle {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid #f0f4f8;
    padding-bottom: 10px;
  }
  
  /* Vehicle Grid and Items */
  .vehicleGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .vehicleItem {
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: max-content;
    display: flex;
    gap: 20px;
  
  }
  
 
  .vehiclePic {
    width: 140px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .vehicleInfo {
    text-align: center;
  }
  
  .vehicleInfo p {
    font-size: 1rem;
    color: #333;
    margin: 5px 0;
  }
  